#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define _DVORAK 0
#define _QWERTY 1
#define _PUNCT_DV 2
#define _PUNCT_QW 3
#define _NAV_DV 4
#define _NAV_QW 5
#define _RESET_NUM 6

/ {
    behaviors {
        bhm: below_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BELOW_HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		dvorak {
			bindings = <
				&bootloader
				&sk LALT       &kp N1          &kp N2       &kp N3       &kp N4       &kp N5           &kp GRAVE        &kp K_APP      &kp N6           &kp N7         &kp N8       &kp N9       &kp N0       &kp EQUAL
				&kp TAB        &kp SQT         &kp COMMA    &kp DOT      &kp P        &kp Y            &kp ESC          &kp ESC        &kp F            &kp G          &kp C        &kp R        &kp L        &kp BSLH
				&bhm LCTL ESC  &kp A           &kp O        &kp E        &kp U        &kp I                                            &kp D            &kp H          &kp T        &kp N        &kp S        &kp MINUS
				&kp LSFT       &bhm LSFT SEMI  &bhm LALT Q  &bhm LCTL J  &bhm LGUI K  &kp X            &kp TAB          &kp TAB        &kp B            &bhm RGUI M    &bhm RCTL W  &bhm LALT V  &bhm RSFT Z  &kp RSFT
				&none          &none           &none        &none        &kp BKSP                                                                       &kp SPC        &none        &none        &none        &none
				                                                                      &bhm LGUI ENTER  &tog _RESET_NUM  &kp PGUP       &bhm LCTL TAB
				                                                         &sl _NAV_DV  &bhm LCTL TAB    &tog _QWERTY     &kp PGDN       &bhm LGUI ENTER  &sl _PUNCT_DV
				                                                                                       &bhm LGUI ENTER  &bhm LCTL TAB
			>;
		};
		qwerty {
			bindings = <
				&bootloader
				&sk LALT       &kp N1          &kp N2       &kp N3       &kp N4       &kp N5           &kp GRAVE        &kp K_APP      &kp N6           &kp N7         &kp N8       &kp N9       &kp N0       &kp EQUAL
				&kp TAB        &kp SQT         &kp COMMA    &kp DOT      &kp P        &kp Y            &kp ESC          &kp ESC        &kp F            &kp G          &kp C        &kp R        &kp L        &kp BSLH
				&bhm LCTL ESC  &kp A           &kp O        &kp E        &kp U        &kp I                                            &kp D            &kp H          &kp T        &kp N        &kp S        &kp MINUS
				&kp LSFT       &bhm LSFT SEMI  &bhm LALT Q  &bhm LCTL J  &bhm LGUI K  &kp X            &kp TAB          &kp TAB        &kp B            &bhm RGUI M    &bhm RCTL W  &bhm LALT V  &bhm RSFT Z  &kp RSFT
				&none          &none           &none        &none        &kp BKSP                                                                       &kp SPC        &none        &none        &none        &none
				                                                                      &bhm LGUI ENTER  &tog _RESET_NUM  &kp PGUP       &bhm LCTL TAB
				                                                         &sl _NAV_DV  &bhm LCTL TAB    &tog _QWERTY     &kp PGDN       &bhm LGUI ENTER  &sl _PUNCT_DV
				                                                                                       &bhm LGUI ENTER  &bhm LCTL TAB
			>;
		};
		punct_dv {
			bindings = <
				&bootloader
				&none        &kp F1       &kp F2        &kp F3      &kp F4         &kp F5           &none     &none           &kp F6         &kp F7       &kp F8     &kp F9    &kp F10       &kp F11
				&none        &kp C_EJECT  &kp C_PREV    &kp C_PP    &kp C_NEXT     &none            &trans    &trans          &kp GRAVE      &kp LBKT     &kp RBKT   &kp LBRC  &kp RBRC      &kp F12
				&trans       &none        &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP   &kp BSLH                                   &kp FSLH       &kp MINUS    &kp UNDER  &kp LPAR  &kp RPAR      &bhm LCTL ESc
				&trans       &kp LG(X)    &kp LG(X)     &kp LG(C)   &kp LG(V)      &none            &kp BSLH  &kp FSLH        &kp TILDE      &kp EQUAL    &kp PLUS   &kp PIPE  &kp QUESTION  &trans
				&none        &none        &none         &none       &kp DEL                                                                  &kp SPC      &none      &none     &none         &none
				                                                                   &none            &none     &none           &none
				                                                    &tog _NAV_DV   &bhm LGUI ENTER  &none     &none           &bhm LCTL TAB  &sl _NAV_DV
				                                                                                    &kp SPC   &mt LGUI ENTER
			>;
		};
		punct_qw {
			bindings = <
				&bootloader
				&sk LALT      &kp NUMBER_1        &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5    &kp GRAVE       &kp K_APP     &kp NUMBER_6    &kp NUMBER_7  &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp EQUAL
				&kp TAB       &kp APOSTROPHE      &kp COMMA    &kp DOT      &kp P        &kp Y           &kp ESC         &kp ESC       &kp F           &kp G         &kp C        &kp R        &kp L        &kp BSLH
				&bhm LCTL ESC &kp A               &kp O        &kp E        &kp U        &kp I                                         &kp D           &kp H         &kp T        &kp N        &kp S        &kp MINUS
				&kp LSFT      &bhm LSFT SEMICOLON &bhm LALT Q  &bhm LCTL J  &bhm LGUI K  &kp X           &kp TAB         &kp TAB       &kp B           &bhm RGUI M   &bhm RCTL W  &bhm LALT V  &bhm RSFT Z  &kp RSFT
				&none         &none               &none        &none        &kp BKSP                                                                   &kp SPC       &none        &none        &none        &none
				                                                                         &bhm LGUI ENTER &tog _RESET_NUM &kp PGUP      &bhm LCTL TAB
				                                                            &sl _NAV_DV  &bhm LCTL TAB   &tog _QWERTY    &kp PGDN      &bhm LGUI ENTER &sl _PUNCT_DV
				                                                                                         &bhm LGUI ENTER &bhm LCTL TAB
			>;
		};
		nav_dv {
			bindings = <
				&bootloader
				&sk LALT      &kp NUMBER_1        &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5    &kp GRAVE       &kp K_APP     &kp NUMBER_6    &kp NUMBER_7  &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp EQUAL
				&kp TAB       &kp APOSTROPHE      &kp COMMA    &kp DOT      &kp P        &kp Y           &kp ESC         &kp ESC       &kp F           &kp G         &kp C        &kp R        &kp L        &kp BSLH
				&bhm LCTL ESC &kp A               &kp O        &kp E        &kp U        &kp I                                         &kp D           &kp H         &kp T        &kp N        &kp S        &kp MINUS
				&kp LSFT      &bhm LSFT SEMICOLON &bhm LALT Q  &bhm LCTL J  &bhm LGUI K  &kp X           &kp TAB         &kp TAB       &kp B           &bhm RGUI M   &bhm RCTL W  &bhm LALT V  &bhm RSFT Z  &kp RSFT
				&none         &none               &none        &none        &kp BKSP                                                                   &kp SPC       &none        &none        &none        &none
				                                                                         &bhm LGUI ENTER &tog _RESET_NUM &kp PGUP      &bhm LCTL TAB
				                                                            &sl _NAV_DV  &bhm LCTL TAB   &tog _QWERTY    &kp PGDN      &bhm LGUI ENTER &sl _PUNCT_DV
				                                                                                         &bhm LGUI ENTER &bhm LCTL TAB
			>;
		};
		nav_qw {
			bindings = <
				&bootloader
				&sk LALT      &kp NUMBER_1        &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5    &kp GRAVE       &kp K_APP     &kp NUMBER_6    &kp NUMBER_7  &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp EQUAL
				&kp TAB       &kp APOSTROPHE      &kp COMMA    &kp DOT      &kp P        &kp Y           &kp ESC         &kp ESC       &kp F           &kp G         &kp C        &kp R        &kp L        &kp BSLH
				&bhm LCTL ESC &kp A               &kp O        &kp E        &kp U        &kp I                                         &kp D           &kp H         &kp T        &kp N        &kp S        &kp MINUS
				&kp LSFT      &bhm LSFT SEMICOLON &bhm LALT Q  &bhm LCTL J  &bhm LGUI K  &kp X           &kp TAB         &kp TAB       &kp B           &bhm RGUI M   &bhm RCTL W  &bhm LALT V  &bhm RSFT Z  &kp RSFT
				&none         &none               &none        &none        &kp BKSP                                                                   &kp SPC       &none        &none        &none        &none
				                                                                         &bhm LGUI ENTER &tog _RESET_NUM &kp PGUP      &bhm LCTL TAB
				                                                            &sl _NAV_DV  &bhm LCTL TAB   &tog _QWERTY    &kp PGDN      &bhm LGUI ENTER &sl _PUNCT_DV
				                                                                                         &bhm LGUI ENTER &bhm LCTL TAB
			>;
		};
		reset_numpad {
			bindings = <
				&bootloader
				&sk LALT      &kp NUMBER_1        &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5    &kp GRAVE       &kp K_APP     &kp NUMBER_6    &kp NUMBER_7  &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp EQUAL
				&kp TAB       &kp APOSTROPHE      &kp COMMA    &kp DOT      &kp P        &kp Y           &kp ESC         &kp ESC       &kp F           &kp G         &kp C        &kp R        &kp L        &kp BSLH
				&bhm LCTL ESC &kp A               &kp O        &kp E        &kp U        &kp I                                         &kp D           &kp H         &kp T        &kp N        &kp S        &kp MINUS
				&kp LSFT      &bhm LSFT SEMICOLON &bhm LALT Q  &bhm LCTL J  &bhm LGUI K  &kp X           &kp TAB         &kp TAB       &kp B           &bhm RGUI M   &bhm RCTL W  &bhm LALT V  &bhm RSFT Z  &kp RSFT
				&none         &none               &none        &none        &kp BKSP                                                                   &kp SPC       &none        &none        &none        &none
				                                                                         &bhm LGUI ENTER &tog _RESET_NUM &kp PGUP      &bhm LCTL TAB
				                                                            &sl _NAV_DV  &bhm LCTL TAB   &tog _QWERTY    &kp PGDN      &bhm LGUI ENTER &sl _PUNCT_DV
				                                                                                         &bhm LGUI ENTER &bhm LCTL TAB
			>;
		};
		layer_0 {
			bindings = <
				&bootloader
				&kp GRAV &kp NUMBER_1  &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp PRSC   &none      &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp K_APP
				&kp TAB  &kp SLASH     &kp COMMA    &kp DOT      &kp P        &kp Y        &kp CLCK   &kp M_MUTE &kp F        &kp G        &kp C        &kp R        &kp L        &kp BSLH
				&kp ESC  &kp A         &kp O        &kp E        &kp U        &kp I                              &kp D        &kp H        &kp T        &kp N        &kp S        &kp BKSP
				&sl 9    &kp SEMICOLON &kp Q        &kp J        &kp K        &kp X        &kp M_VOLD &kp M_VOLU &kp B        &kp M        &kp W        &kp V        &kp Z        &sl 9
				&none    &none         &kp LALT     &kp LARW     &kp UARW                                                     &kp DARW     &kp RARW     &kp RALT     &none        &to 10
				                                                              &kp DEL      &kp HOME   &kp END    &kp INS
				                                                 &kp SPC      &kp LCTL     &kp PGUP   &kp PGDN   &kp LSFT     &kp RET
				                                                                           &kp LGUI   &sl 8
			>;
        };
		layer_1 {
			bindings = <
				&bootloader
				&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none &to 0 &none &none   &none   &none   &none   &bootloader
				&bt BT_CLR   &kp F1       &kp F2       &kp F3       &kp F4       &none &none &none &none &kp F13 &kp F14 &kp F15 &kp F16 &out OUT_USB
				&none        &kp F5       &kp F6       &kp F7       &kp F8       &none             &none &kp F17 &kp F18 &kp F19 &kp F20 &out OUT_BLE
				&none        &kp F9       &kp F10      &kp F11      &kp F12      &none &none &none &none &kp F21 &kp F22 &kp F23 &kp F24 &out OUT_TOG
				&none        &none        &none        &none        &none                                &none   &none   &none   &none   &none
				                                                                 &none &none &none &none
				                                                    &none        &none &none &none &none &none
				                                                                       &none &to 0
			>;
		};
		layer_2 {
			bindings = <
				&bootloader
				&none &none &none &none    &none            &none             &none          &to 0            &none &none          &none           &none &none &none
				&none &none &none &none    &none            &none             &none          &kp C_PLAY_PAUSE &none &none          &none           &none &none &none
				&none &none &none &kp PLUS &kp EQUAL        &none                                             &none &kp MINUS      &kp UNDERSCORE  &none &none &none
				&to 0 &none &none &kp LBKT &kp RBKT         &none             &kp C_PREVIOUS &kp C_NEXT       &none &kp LEFT_BRACE &kp RIGHT_BRACE &none &none &to 0
				&none &none &none &none    &none                                                                    &none          &none           &none &none &none
				                                            &none             &none          &none            &none
				                           &kp SINGLE_QUOTE &kp DOUBLE_QUOTES &none          &none            &none &none
				                                                              &none          &none
			>;
		};
		layer_3 {
			bindings = <
				&bootloader
				&none &none     &none        &none     &none    &none &none                &to 0                &none &none        &none        &none        &none        &none
				&none &none     &none        &none     &none    &none &none                &none                &none &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &none        &none
				&none &kp SLASH &kp ASTERISK &kp MINUS &kp PLUS &none                                           &none &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_0 &kp BACKSPACE
				&none &none     &none        &none     &kp DOT  &none &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC &none &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &none        &none
				&none &none     &none        &none     &none                                                          &none        &none        &none        &none        &to 0
				                                                &none &none                &none                &none
				                                       &none    &none &none                &none                &none &none
				                                                      &none                &none
			>;
		};
	};
};
