// -*- mode: c++ -*-

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
// support for RGB underglow
#include <dt-bindings/zmk/rgb.h>

// Each layer gets a name for readability, which is then used in the keymap
// matrix below. The underscores don't mean anything - you can have a layer
// called STUFF or any other name. Layer names don't all need to be of the
// same length, obviously, and you can also skip them entirely and just use
// numbers.
#define _DVORAK 0
#define _QWERTY 1
#define _PUNCT_DV 2
#define _PUNCT_QW 3
#define _NAV_DV 4
#define _NAV_QW 5
#define _RESET_NUM 6

// Helpful defines
// Layer-related
#define TOG_RST &tog _RESET_NUM
#define TOG_QW &tog _QWERTY
#define SL_NAVD &sl _NAV_DV     // Sticky layer DV Nav layer
#define SL_NAVQ &sl _NAV_QW     // Sticky layer QW Nav layer
#define SL_PUND &sl _PUNCT_DV   // Sticky layer DV Punct layer
#define SL_PUNQ &sl _PUNCT_QW   // Sticky layer DV Punct layer
#define MO_NAVD &mo _NAV_DV     // Momentary DV Nav layer
#define MO_NAVQ &mo _NAV_QW     // Momentary QW Nav layer
#define MO_PUND &sl _PUNCT_DV   // Momentary DV Punct layer
#define MO_PUNQ &sl _PUNCT_QW   // Momentary QW Punct layer

// Modifier-related
#define CTL_ESC &bhm LCTL ESC
#define GUI_ENT &bhm LGUI ENTER
#define CTL_TAB &bhm LCTL TAB
#define CTL_DEL &bhm LCTL DEL
#define LSFT_SC &bhm LSFT SEMI
#define LALT__Q &bhm LALT Q
#define LCTL__J &bhm LCTL J
#define LGUI__K &bhm LGUI K
#define RGUI__M &bhm RGUI M
#define RCTL__W &bhm RCTL W
#define LALT__V &bhm LALT V
#define RSFT__Z &bhm RSFT Z
#define LSFT__Z &bhm LSFT Z
#define LALT__X &bhm LALT X
#define LCTL__C &bhm LCTL C
#define LGUI__V &bhm LGUI V
#define RGUI__M &bhm RGUI M
#define RCTL_CM &bhm RCTL COMMA
#define LALT_DT &bhm LALT DOT
#define RSFT_SH &bhm RSFT FSLH



/ {
    behaviors {
        bhm: below_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BELOW_HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <250>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        caplk: combo_capslock {
            timeout-ms = <150>;
            key-positions = <41 54>;
            bindings = <&kp CAPSLOCK>;
        };
        capwd: combo_capsword {
            timeout-ms = <150>;
            key-positions = <19 24>;
            bindings = <&caps_word>;
        };
    };


    // Time (ms) before sticky layer is released
    // matches QMK setting
    &sl {
        release-after-ms = <1500>;
    };

    keymap {
        compatible = "zmk,keymap";

        dvorak {
//
// default, dvorak in keyboard, qwerty in OS
// ,--------------------------------------------------.        ,--------------------------------------------------.
// | LAlt   | 1 !  | 2 @  | 3 #  | 4 $  | 5 %  | ` ~  |        | App  | 6 ^  | 7 &  | 8 *  | 9 (  | 0 )  |  = +   |
// |--------+------+------+------+------+-------------|        |------+------+------+------+------+------+--------|
// | Tab    | ' "  | , <  | . >  | p P  | y Y  | Esc  |        | Esc  | f F  | g G  | c C  | r R  | l L  |  / ?   |
// |--------+------+------+------+------+------|      |        |      |------+------+------+------+------+--------|
// | C_Esc  | a A  | o O  | e E  | u U  | i I  |------|        |------| d D  | h H  | t T  | n N  | s S  |  - _   |
// |--------+------+------+------+------+------| Tab  |        | Tab  |------+------+------+------+------+--------|
// | LShift | ; :  | q Q  | j J  | k K  | x X  |      |        |      | b B  | m M  | w W  | v V  | z Z  | RShift |
// `--------+------+------+------+------+-------------'        `-------------+------+------+------+------+--------'
//   |      |      |      |      | BkSp |  ,-------------.  ,-------------.  | Spce |      |      |      |      |
//   `----------------------------------'  | G_Ent| +L6  |  | PgUp | C_Tab|  `----------------------------------'
//                                  ,------|------|------|  |------+------+------.
//                                  |      | Ctrl | +L1  |  | PgDn | Gui  |      |
//                                  |SL(L4)|      |------|  |------|      |SL(L2)|
//                                  |      | Tab  | G_Ent|  | C_Tab| Entr |      |
//                                  `--------------------'  `--------------------'
            bindings = <
//  0
    &bootloader
//  1         2        3          4        5         6        7          8          9        10         11       12       13       14
    &sk LALT  &kp N1   &kp N2     &kp N3   &kp N4    &kp N5   &kp GRAVE  &kp K_APP  &kp N6   &kp N7     &kp N8   &kp N9   &kp N0   &kp EQUAL
//  15        16       17         18       19        20       21         22         23       24         25       26       27       28
    &kp TAB   &kp SQT  &kp COMMA  &kp DOT  &kp P     &kp Y    &kp ESC    &kp ESC    &kp F    &kp G      &kp C    &kp R    &kp L    &kp FSLH
//  29        30       31         32       33        34                             35       36         37       38       39       40
    CTL_ESC   &kp A    &kp O      &kp E    &kp U     &kp I                          &kp D    &kp H      &kp T    &kp N    &kp S    &kp MINUS
//  41        42       43         44       45        46       47         48         49       50         51       52       53       54
    &kp LSFT  LSFT_SC  LALT__Q    LCTL__J  LGUI__K   &kp X    &kp TAB    &kp TAB    &kp B    RGUI__M    RCTL__W  LALT__V  RSFT__Z  &kp RSFT
//  55        56       57         58       59                                                60         61       62       63       64
    &none     &none    &none      &none    &kp BKSP                                          &kp SPACE  &none    &none    &none    &none
//                                                   65       66         67         68
                                                     GUI_ENT  TOG_RST    &kp PG_UP  CTL_TAB
//                                         69        70       71         72         73       74
                                           SL_NAVD   CTL_TAB  TOG_QW     &kp PG_DN  GUI_ENT  SL_PUND
//                                                            75         76
                                                              GUI_ENT    CTL_TAB
            >;
        };
        qwerty {
//
// qwerty in keyboard, dvorak in OS
// ,--------------------------------------------------.        ,--------------------------------------------------.
// | LAlt   | 1 !  | 2 @  | 3 #  | 4 $  | 5 %  | ` ~  |        | App  | 6 ^  | 7 &  | 8 *  | 9 (  | 0 )  |  ] }   |
// |--------+------+------+------+------+-------------|        |------+------+------+------+------+------+--------|
// | Tab    | q Q  | w W  | e E  | r R  | t T  | Esc  |        | Esc  | y Y  | u U  | i I  | o O  | p P  |  [ {   |
// |--------+------+------+------+------+------|      |        |      |------+------+------+------+------+--------|
// | C_Esc  | a A  | s S  | d D  | f F  | g G  |------|        |------| h H  | j J  | k K  | l L  | ; :  |  ' "   |
// |--------+------+------+------+------+------| Tab  |        | Tab  |------+------+------+------+------+--------|
// | LShift | z Z  | x X  | c C  | v V  | b B  |      |        |      | n N  | m M  | , <  | . >  | / ?  | RShift |
// `--------+------+------+------+------+-------------'        `-------------+------+------+------+------+--------'
//   |      |      |      |      | BkSp |  ,-------------.  ,-------------.  | Spce |      |      |      |      |
//   `----------------------------------'  | G_Ent| +L6  |  | PgUp | C_Tab|  `----------------------------------'
//                                  ,------|------|------|  |------+------+------.
//                                  |      | Ctrl | -L1  |  | PgDn | Gui  |      |
//                                  |SL(L5)|      |------|  |------|      |SL(L3)|
//                                  |      | Tab  | G_Ent|  | C_Tab| Entr |      |
//                                  `--------------------'  `--------------------'
            bindings = <
    &bootloader
    &trans  &trans   &trans   &trans   &trans   &trans  &trans   &trans  &trans  &trans   &trans   &trans   &trans    &kp RBRC
    &trans  &kp Q    &kp W    &kp E    &kp R    &kp T   &trans   &trans  &kp Y   &kp U    &kp I    &kp O    &kp P     &kp LBRC
    &trans  &kp A    &kp S    &kp D    &kp F    &kp G                    &kp H   &kp J    &kp K    &kp L    &kp SEMI  &kp SQT
    &trans  LSFT__Z  LALT__X  LCTL__C  LGUI__V  &kp B   &trans   &trans  &kp N   RGUI__M  RCTL_CM  LALT_DT  RSFT_SH   &kp RSFT
    &none   &none    &none    &none    &trans                                    &trans   &none    &none    &none     &none
                                                &trans  TOG_RST  &trans  &trans
                                       SL_NAVQ  &trans  TOG_QW   &trans  &trans  SL_PUNQ
                                                        &trans   &trans
            >;
        };
        punct_dv {
//
// punctpad, dvorak in keyboard, qwerty in OS
// ,--------------------------------------------------.        ,--------------------------------------------------.
// |        | F1   | F2   | F3   | F4   | F5   |      |        |      | F6   | F7   | F8   | F9   | F10  | F11    |
// |--------+------+------+------+------+-------------|        |------+------+------+------+------+------+--------|
// |        | Eject| Prev | Play | Next |      | Esc  |        | Esc  | `    | [    | ]    | {    | }    | F12    |
// |--------+------+------+------+------+------|      |        |      |------+------+------+------+------+--------|
// | C_Esc  |      |Vol Dn| Mute |Vol Up| \    |------|        |------| /    | -    | _    | (    | )    | C_Esc  |
// |--------+------+------+------+------+------| \    |        | /    |------+------+------+------+------+--------|
// | LShift | Undo | Cut  | Copy | Paste|      |      |        |      | ~    | =    | +    | |    | ?    | RShift |
// `--------+------+------+------+------+-------------'        `-------------+------+------+------+------+--------'
//   |      |      |      |      | Del  |  ,-------------.  ,-------------.  | Spce |      |      |      |      |
//   `----------------------------------'  |      |      |  |      |      |  `----------------------------------'
//                                  ,------|------|------|  |------+------+------.
//                                  |      | Gui  |      |  |      | Ctrl |      |
//                                  | ~L4  |      |------|  |------|      |SL(L4)|
//                                  |      | Entr | Spce |  | G_Ent| Tab  |      |
//                                  `--------------------'  `--------------------'
            bindings = <
    &bootloader
    &none   &kp F1       &kp F2        &kp F3      &kp F4        &kp F5    &none      &none     &kp F6     &kp F7     &kp F8     &kp F9    &kp F10    &kp F11
    &none   &kp C_EJECT  &kp C_PREV    &kp C_PP    &kp C_NEXT    &none     &trans     &trans    &kp GRAVE  &kp LBKT   &kp RBKT   &kp LBRC  &kp RBRC   &kp F12
    &trans  &none        &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp BSLH                       &kp FSLH   &kp MINUS  &kp UNDER  &kp LPAR  &kp RPAR   CTL_ESC
    &trans  &kp LG(X)    &kp LG(X)     &kp LG(C)   &kp LG(V)     &none     &kp BSLH   &kp FSLH  &kp TILDE  &kp EQUAL  &kp PLUS   &kp PIPE  &kp QMARK  &trans
    &none   &none        &none         &none       &kp DEL                                                 &kp SPC    &none      &none     &none      &none
                                                                 &none     &none      &none     &none
                                                   MO_NAVD       GUI_ENT   &none      &none     CTL_TAB    SL_NAVD
                                                                           &kp SPACE  GUI_ENT
            >;
        };
        punct_qw {
//
// punctpad, qwerty in keyboard, dvorak in OS
// ,--------------------------------------------------.        ,--------------------------------------------------.
// |        | F1   | F2   | F3   | F4   | F5   |      |        |      | F6   | F7   | F8   | F9   | F10  | F11    |
// |--------+------+------+------+------+-------------|        |------+------+------+------+------+------+--------|
// |        | Eject| Prev | Play | Next |      | Esc  |        | Esc  | `    | -    | =    | _    | +    | F12    |
// |--------+------+------+------+------+------|      |        |      |------+------+------+------+------+--------|
// | C_Esc  |      |Vol Dn| Mute |Vol Up| \    |------|        |------| [    | '    | "    | (    | )    | C_Esc  |
// |--------+------+------+------+------+------| \    |        | [    |------+------+------+------+------+--------|
// | LShift | Undo | Cut  | Copy | Paste|      |      |        |      | ~    | ]    | }    | |    | {    | RShift |
// `--------+------+------+------+------+-------------'        `-------------+------+------+------+------+--------'
//   |      |      |      |      | Del  |  ,-------------.  ,-------------.  | Spce |      |      |      |      |
//   `----------------------------------'  |      |      |  |      |      |  `----------------------------------'
//                                  ,------|------|------|  |------+------+------.
//                                  |      | Gui  |      |  |      | Ctrl |      |
//                                  | ~L5  |      |------|  |------|      |SL(L5)|
//                                  |      | Entr | Spce |  | G_Ent| Tab  |      |
//                                  `--------------------'  `--------------------'
            bindings = <
    &bootloader
    &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans    &trans    &trans     &trans     &trans     &trans    &trans
    &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans    &trans    &kp MINUS  &kp EQUAL  &kp UNDER  &kp PLUS  &trans
    &trans  &trans  &trans  &trans  &trans   &trans                    &kp LBKT  &kp SQT    &kp DQT    &kp LPAR   &kp RPAR  &trans
    &trans  &trans  &trans  &trans  &trans   &trans  &trans  &kp LBKT  &trans    &kp RBKT   &kp RBRC   &trans     &kp LBRC  &trans
    &trans  &trans  &trans  &trans  &trans                                       &trans     &trans     &trans     &trans    &trans
                                             &trans  &trans  &trans    &trans
                                    MO_NAVQ  &trans  &trans  &trans    &trans    SL_NAVQ
                                                     &trans  &trans
            >;
        };
        nav_dv {
//
// nav, dvorak in keyboard, qwerty in OS
// ,--------------------------------------------------.        ,--------------------------------------------------.
// |        | F1   | F2   | F3   | F4   | F5   |      |        |      | F6   | F7   | F8   | F9   | F10  | F11    |
// |--------+------+------+------+------+-------------|        |------+------+------+------+------+------+--------|
// |        |C(Hom)|      | Up   | PgUp |C(End)| Esc  |        | Esc  | `    | (    | )    | ]    | }    | F12    |
// |--------+------+------+------+------+------|      |        |      |------+------+------+------+------+--------|
// | C_Esc  | Home | Left | Down | Rght | End  |------|        |------| /    | Left | Down | Up   | Rght | C_Esc  |
// |--------+------+------+------+------+------| \    |        | /    |------+------+------+------+------+--------|
// | LShift |      |      |      | PgDn | Del  |      |        |      | ~    | Home | PgDn | PgUp | End  | RShift |
// `--------+------+------+------+------+-------------'        `-------------+------+------+------+------+--------'
//   |      |      |      |      | Spce |  ,-------------.  ,-------------.  | BkSp |      |      |      |      |
//   `----------------------------------'  |      |      |  |      |      |  `----------------------------------'
//                                  ,------|------|------|  |------+------+------.
//                                  |      | Gui  |      |  |      | Ctrl |      |
//                                  |SL(L2)|      |------|  |------|      | ~L2  |
//                                  |      | Entr | C_Tab|  | G_Ent| Del  |      |
//                                  `--------------------'  `--------------------'
            bindings = <
    &bootloader
    &none   &kp F1        &kp F2    &kp F3    &kp F4     &kp F5       &none     &none     &kp F6     &kp F7    &kp F8     &kp F9     &kp F10    &kp F11
    &none   &kp LC(HOME)  &none     &kp UP    &kp PG_UP  &kp LC(END)  &kp ESC   &kp ESC   &kp GRAVE  &kp LPAR  &kp RPAR   &kp RBKT   &kp RBRC   &kp F12
    &trans  &kp HOME      &kp LEFT  &kp DOWN  &kp RIGHT  &kp END                          &kp FSLH   &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
    &trans  &none         &none     &none     &kp PG_DN  &kp DEL      &kp BSLH  &kp FSLH  &kp TILDE  &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
    &none   &none         &none     &none     &kp SPACE                                              &kp BSPC  &none      &none      &none      &none
                                                         &none        &none     &none     &none
                                              SL_PUND    GUI_ENT      &none     &none     CTL_DEL    MO_PUND
                                                                      CTL_TAB   GUI_ENT
           >;
        };
        nav_qw {
//
// nav, qwerty in keyboard, dvorak in OS
// ,--------------------------------------------------.        ,--------------------------------------------------.
// |        | F1   | F2   | F3   | F4   | F5   |      |        |      | F6   | F7   | F8   | F9   | F10  | F11    |
// |--------+------+------+------+------+-------------|        |------+------+------+------+------+------+--------|
// |        |C(Hom)|      | Up   | PgUp |C(End)| Esc  |        | Esc  | `    | (    | )    | =    | +    | F12    |
// |--------+------+------+------+------+------|      |        |      |------+------+------+------+------+--------|
// | C_Esc  | Home | Left | Down | Rght | End  |------|        |------| [    | Left | Down | Up   | Rght | C_Esc  |
// |--------+------+------+------+------+------| \    |        | [    |------+------+------+------+------+--------|
// | LShift |      |      |      | PgDn | Del  |      |        |      | ~    | Home | PgDn | PgUp | End  | RShift |
// `--------+------+------+------+------+-------------'        `-------------+------+------+------+------+--------'
//   |      |      |      |      | Spce |  ,-------------.  ,-------------.  | BkSp |      |      |      |      |
//   `----------------------------------'  |      |      |  |      |      |  `----------------------------------'
//                                  ,------|------|------|  |------+------+------.
//                                  |      | Gui  |      |  |      | Ctrl |      |
//                                  |SL(L3)|      |------|  |------|      | ~L3  |
//                                  |      | Entr | C_Tab|  | G_Ent| Del  |      |
//                                  `--------------------'  `--------------------'
            bindings = <
    &bootloader
    &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans    &trans    &trans    &trans    &trans     &trans    &trans
    &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans    &trans    &kp LPAR  &kp RPAR  &kp EQUAL  &kp PLUS  &trans
    &trans  &trans  &trans  &trans  &trans   &trans                    &kp LBKT  &trans    &trans    &trans     &trans    &trans
    &trans  &trans  &trans  &trans  &trans   &trans  &trans  &kp LBKT  &trans    &trans    &trans    &trans     &trans    &trans
    &trans  &trans  &trans  &trans  &trans                                       &trans    &trans    &trans     &trans    &trans
                                             &trans  &trans  &trans    &trans
                                    SL_PUNQ  &trans  &trans  &trans    &trans    MO_PUNQ
                                                     &trans  &trans
           >;
        };
        reset_numpad {
//
// reset, and numpad
// ,--------------------------------------------------.        ,--------------------------------------------------.
// |  BtSl0 | Np - | Np * | Np / | NmLk |OutUSB| Reset|        | Reset|      | NmLk | Np / | Np * | Np - | ScrLk  |
// |--------+------+------+------+------+-------------|        |------+------+------+------+------+------+--------|
// |  BtSl1 | Np + | Np 9 | Np 8 | Np 7 |OutBLE|      |        |      |      | Np 7 | Np 8 | Np 9 | Np + | PrtScn |
// |--------+------+------+------+------+------|      |        |      |------+------+------+------+------+--------|
// |  BtSl2 | Np = | Np 6 | Np 5 | Np 4 |OutTog|------|        |------|      | Np 4 | Np 5 | Np 6 | Np = | Pause  |
// |--------+------+------+------+------+------| Gui  |        | Ctrl |------+------+------+------+------+--------|
// |  BtSl3 | Np . | Np 3 | Np 2 | Np 1 | Np 0 | Entr |        | Tab  | Np 0 | Np 1 | Np 2 | Np 3 | Np . | RShift |
// `--------+------+------+------+------+-------------'        `-------------+------+------+------+------+--------'
//   |BtSl4 |Bt Clr|      |      | BkSp |  ,-------------.  ,-------------.  | Spce |      |      |      |      |
//   `----------------------------------'  |      | -L6  |  |      |      |  `----------------------------------'
//                                  ,------|------|------|  |------+------+------.
//                                  |NumPad|NumPad|      |  |      |NumPad|NumPad|
//                                  |      |      |------|  |------|      |      |
//                                  |  0   | Entr |      |  |      | Ent  |  0   |
//                                  `--------------------'  `--------------------'
            bindings = <
    &bootloader
    &bt BT_SEL 0  &kp KP_MINUS  &kp KP_ASTERISK  &kp KP_SLASH  &kp KP_NLCK  &out OUT_USB  &bootloader  &bootloader   &none         &kp KP_NLCK  &kp KP_SLASH  &kp KP_ASTERISK  &kp KP_MINUS  &kp SLCK
    &bt BT_SEL 1  &kp KP_PLUS   &kp KP_N9        &kp KP_N8     &kp KP_N7    &out OUT_BLE  &none        &none         &none         &kp KP_N7    &kp KP_N8     &kp KP_N9        &kp KP_PLUS   &kp PSCRN
    &bt BT_SEL 2  &kp KP_EQUAL  &kp KP_N6        &kp KP_N5     &kp KP_N4    &out OUT_TOG                             &none         &kp KP_N4    &kp KP_N5     &kp KP_N6        &kp KP_EQUAL  &kp PAUSE_BREAK
    &bt BT_SEL 3  &kp KP_DOT    &kp KP_N3        &kp KP_N2     &kp KP_N1    &kp KP_N0     GUI_ENT      CTL_TAB       &kp KP_N0     &kp KP_N1    &kp KP_N2     &kp KP_N3        &kp KP_DOT    &trans
    &bt BT_SEL 4  &bt BT_CLR    &none            &none         &kp BKSP                                                            &kp SPACE    &none         &none            &none         &none
                                                                            &none         TOG_RST      &none         &none
                                                               &kp KP_N0    &kp KP_ENTER  &none        &none         &kp KP_ENTER  &kp KP_N0
                                                                                          &none        &none
            >;
        };

    };
  };
